:root {
    --morado: #A536DF;
    --verde: #36DFA5;
    --naranja: #F56E40;
}
body {
    margin: 0px;
    background-color:  #4d58f5;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
.header {
    background-color: var(--morado);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(255 , 255, 255, 0.3);
}

.header__img{
    width: 300px;
    margin-left: 10px;
}
.divContainer{
    /* width: 650px;
    height: 50px; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 8px;
    border-left: 2px solid var(--morado);
    border-top: 2px solid var(--morado);
    border-right: 2px solid var(--morado);
    border-bottom: 2px solid var(--morado);
}
.inputBuscar{
    width: 500px;
    height: 40px;
    background-color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding: 0px 14px;
    outline: none;
    border: none;
}

.search-icon{
    background-image: url('./Imagenes/lupa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.divTitulos{
    width: 350px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.divTitulos a{
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-right: 12px;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}
.divTitulos a:hover{
    background-color: #8f05da;

}
.anuncios{
    width: 100vw;
    min-height: 400px;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;
    
}
.anuncios img{
    /* width: 260px;
    height: 400px; */
    width: 20vw;
    height: 400px;
    
}

.tiendita{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color:  var(--verde);
}
/* .tienda{
    width: 100vw;
    min-height: 300px;
    max-width: 100vw;
    background-color: var(--verde);
}  */
.tienda p{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    align-content: center;
}
.tienda-categoria{
    display: inline-flex;
    width: 30vw;
    justify-content: center;
    font-size: 40px;
    font-style: oblique;
    font-weight: 800;
    font-family:bitter;
    margin: 0;
    /*background-color: #C781EB;*/
    padding: 0px;
    border: 0;
    align-items: center;
    align-self: center;
    align-content: center;
    min-height: 100px;
    
}
.tienda-categoria-item{
    display: block;
    
}
.tienda-categoria-item img{
    width: 300px;
    height: 200px;
    border: 15px;
    border-radius: 5px;
    
}

.horarios{
    font-size: 60px;
    display: inline-flex;
    background-color: var(--naranja);
}
.horarios ul{
    margin-top: 100px;
}
.somos{
    font-size: 60px;
}
footer{
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    background-color: #F6E5FE;
    margin-right: 12px;
    margin-top: 30px;
    padding: 15 px 10px;
    color: black;
    text-decoration: none;
}